{% extends 'base.html' %} 
{% load static %}
{% block basetitle %} Dashboard 
{% endblock %} {% block content %}
<!--
<div class="row mt-3 pt-3">
  <div class="col-md-4">
    <p>Working</p>
    form will go here later
  </div>
  <div class="col-md-8">
    chart will go here later
  </div>
</div>
<div><p>Data: {{K_number}}</p></div>
-->
<div style="padding-top: 125px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
<form method="POST" name="dashboardVitals" action="{% url 'dashboardVitals' %}" >
    {% csrf_token %}

    <br>
    <select name="nutrient" id="nutrient">
        <option value="k">Potassium</option>
        <option value="phos">Phos</option>
        <option value="na">Sodium</option>
        <option value="creatinine">Creatinine</option>
        <option value="albumin">Albumin</option>
        <option value="bloodsugar">Blood Sugar</option>
        <option value="cholesterol">Cholesterol</option>
        <option value="weight">Weight</option>
    </select>

    <button type="submit">Submit</button>
</form> 
{{ expected }}
{% for dates in list %} {{ dates.date }} {% endfor %}
<div>
  <canvas id="myChart" width="400" height="400"></canvas>
<script> 
const ctx = document.getElementById('myChart').getContext('2d'); 
const myChart = new Chart(ctx, { 
    type: 'line',
    data: {
        labels: [1, 2, 3], 
        datasets: [{ 
            label: 'Current Results',
            data: [100, 25, 75],
        
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }, {
            type: 'line',
            label: 'Expected Amounts',
            data: [5.2, 10, 3], 
            fill: false,
            borderColor: 'rgba(54, 162, 235, 1)'
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</div>
</div>
{% endblock %}