{% extends 'base.html' %} 
{% load static %}
{% block basetitle %} Dashboard 
{% endblock %} {% block content %}
<!--
<div class="row mt-3 pt-3">
  <div class="col-md-4">
    <p>Working</p>
    form will go here later
  </div>
  <div class="col-md-8">
    chart will go here later
  </div>
</div>
<div><p>Data: {{K_number}}</p></div>
-->

<div style="padding-top: 100px">
    <div class=row style="padding-right: 40px">

<div class="col-md-6 mb-4" style="padding-top: 125px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
<form method="POST" name="dashboardSelect" action="{% url 'dashboardSelect' %}" >
    {% csrf_token %}
    <br>
    <label for="date">Choose Your Date:</label>
    <input name='date' id='date' type='date'>

    <button type="submit">Submit</button>
</form> 
</div>


<div class="newcontainer col-md-6 mb-4" style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
<div>
  <canvas id="myChart" width="400" height="400"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['K','Phos','Na','Creatinine','Albumin','BloodSugar', 'Weight'],
        datasets: [{
            label: 'Current Results',
            data: [{{K_number}}, {{Phos_number}}, {{Na_number}}, {{Creatinine_number}}, {{Albumin_number}}, {{BloodSugar_number}}, {{Weight_number}}],
        
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }, {
            type: 'bar',
            label: 'Expected Amounts',
            data: [5.2, 4.5, 145, 1.3, 1.1, 3.3, 100], 
            fill: false,
            borderColor: 'rgba(54, 162, 235, 1)'
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</div>
</div>


<style>
    .newcontainer  {
      
      height: 50%;
      width: 50%;
      left: 50%;
      right: 50%;
      background: #f2f2f2;
      overflow: hidden;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 0 0 20px 8px #d0d0d0;
    }
</style>

{% endblock %}