{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="padding-top: 125px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">        
    <p>Food Item: {{ food.name }}</p>
    {% for foods in food.all %}

        <div>{{ foods.name }}: {{ foods.amount }}</div>

    {% endfor %}
    </div>
</div>
<div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
<form method="get" action="{% url 'FoodTotal' %}" name="formfood">
    <input type="text" name='number' id='number' value={{food.number}} hidden>
    <input type="text" name='name' id='name' value={{food.name}} hidden>
    
    <label for="amount">Amount: </label>
    <input type="text" name='amount' id='amount' value={{ food.amount }}>

    <input type=text name='water' value={{ food.all.0.amount }} hidden>
    <input type=text name='cholesterol' value={{ food.all.1.amount }} hidden>
    <input type=text name='sodium' value={{ food.all.2.amount }} hidden>
    <input type=text name='phosphorus' value={{ food.all.3.amount }} hidden>
    <input type=text name='sugars' value={{ food.all.4.amount }} hidden>
    <input type=text name='potassium' value={{ food.all.5.amount }} hidden>
    <input type=text name='protein' value={{ food.all.6.amount }} hidden>


    <button type="submit">Add</button>
</form> 
</div>
<div style="padding-top: 50px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
    <a href="{% url 'food' %}">Add Other Item to Meal</a>
</div>

{% endblock %}  