{% extends 'base.html' %} 
{% load static %}
{% block basetitle %} Labs 
{% endblock %} {% block content %}
<div style="padding-top: 125px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">
  <div>
    <h1>Enter Lab Info:</h1> <br> <br>
    <!-- form will go here later-->
  </div>
  <div class="col-md-8">
    <form name="newLabs" method="POST" action="{% url 'storevitals' %}">
      {% csrf_token %}
      <input type="text" name="personID" id="personID" value=1 hidden>

      <label for="k">K:</label>
      <input type="text" name="k" id="k" autofocus> <br>

      <label for="phos">Phos:</label>
      <input type="text" name="phos" id="phos"> <br>

      <label for="na">Na:</label>
      <input type="text" name="na" id="na"> <br>

      <label for="creatinine">Ceatinine:</label>
      <input type="text" name="creatinine" id="creatinine"> <br>

      <label for="albumin">Albumin:</label>
      <input type="text" name="albumin" id="albumin"> <br>

      <label for="blood">Blood Pressure:</label>
      <input type="text" name="blood" id="blood"> <br>

      <label for="sugar">Blood Sugar:</label>
      <input type="text" name="sugar" id="sugar"> <br>

      <label for="weight">Weight:</label>
      <input type="text" name="weight" id="weight"> <br>

      <label for="date">Date:</label>
      <input type="date" name="date" id="date"> <br>
      


      <button type="submit">Store Vitals</button>

    </form>
    <!--chart will go here later-->
  </div>
</div>
{% endblock %}